

.hex1{
    background-color: #ad1457;
}
.hex2{
    background-color: #78002e;
}
.hex3{
    background-color: #10ab88;
}
img{width: 100%; display: block;}
.imgcontatiner{
    width: 60%;
    margin: 1em auto;
    box-shadow: 1px 1px 5px gray;
    position: relative;
}
.imgtitle{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 20%;
    background-color: rgb(242,80,30);
    text-align: center;
    font-size: 2em;
    padding: 1em;
}
.topnav{
    background-color: #78002e;
    position: fixed;
    top: 0%;
    width: 100%;
} 
.topnav a{
    display: inline-block;
    padding: 1em 3em;
    color: whitesmoke;
    text-decoration: none;
}
.topnav a:hover{
    background-color: aliceblue;
    color: #78002e;
}
.mesh1,.mesh2,.mesh3{
    width: 60%;
    height: 200px;
}
.mesh1{
    background-image: linear-gradient(#78002e,#10ab88);
}
.mesh2{
    background-image: linear-gradient(to right,#78002e,#10ab88);
}
.mesh3{
    background-image: linear-gradient(to top left,red,blue);
}
.heroinfo{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 20%;
    right: 20%;
    text-align: center;
    border: solid 1px gray;
}
/*.heroimage{
    background-image: ;
    background-size: ;
}*/
.heroinfo a:hover{
    background-color: red;
}
.sepia1{
    filter: sepia(10%);
}
.sepia2{
    filter: sepia(60%);
}
.sepia3{
    filter: sepia(100%);
}
.blur1{
    filter: blur(2px);
}
.blur2{
    filter: blur(10px);
}
.blur3{
    filter: blur(20px);
}
.invert1{
    filter: invert(2%);
}
.invert2{
    filter: invert(60%);
}
.invert3{
    filter: invert(100%);
}

/* Exercise */
.sectioncontainer{
    height: auto;
    border: solid red 1px;
}
.container1, .container2, .container3{
    width: 400px;
    height: 600px;
    border: solid blue 1px;
    display: inline-block;
    margin: 2em;
    position: relative;
}
.invertimage {
    filter: invert(90%);
    width: 100%;
    height: auto;
    display: block;
}
.caption1 {
    position: absolute;
    bottom: 10%;
    
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 20px;  /* Font size */
    text-align: center;
    padding: 10px;
    border-top: 3px solid #fff; /* White border at the top */
}
.blurimage {
    filter: blur(20px);
    width: 100%;
    height: auto;
    display: block;
}
.caption2 {
    position: absolute;
    bottom: 10%;
    
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 20px;  /* Font size */
    text-align: center;
    padding: 10px;
    border-top: 3px solid #fff; /* White border at the top */
}
.gradientimage {
    background-image:linear-gradient(to right);
}
.caption3 {
    position: absolute;
    bottom: 10%;
    
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 20px;  /* Font size */
    text-align: center;
    padding: 10px;
    border-top: 3px solid #fff; /* White border at the top */
}
